
<h1> '<%= @book.title %>' Has Been Deleted </h1>

<% if !@book.chapters.empty? %>
  <h3> Along With All Its Chapters: </h3>

  <ul>
    <% @book.chapters.order(:ordinal).each do |chapter| %>
      <li> <%= chapter.ordinal %>. <%= chapter.name %> </li>
      <p> <%= chapter.content %> </p>
    <% end %>
  </ul>
<% else %>
  <p> It Had No Chapters </p>
<% end %>
