
<h1> The Book '<%= @book.title %>' Has Been Deleted </h1>

<% if !@chapters.empty? %>
  <h3> Along With All Its Chapters: </h3>

  <ul>
    <% @chapters.each do |chapter| %>
      <li> <%= chapter.ordinal %>. <%= chapter.name %> </li>
      <p> <%= chapter.content %> </p>
    <% end %>
  </ul>
<% else %>
  <p> It Had No Chapters </p>
<% end %>
