
<h1> '<%= @book.title %>' Has Been Deleted </h1>

<% # binding.pry %>

<%
  # TODO show chapters
%>

<br>
<a href="/books/new"> Create New Book </a>
<br>
<br>
<a href="/books/by-user/<%= @user.slug %>"> Your Books </a>
<br>
<br>
<a href="/books"> List All Books </a>
<br>
<br>
<a href="/logout"> Logout </a>
