
<h1> Create a New Book </h1>

<p>
  Book titles must be unique and contain 5 to 64 characters.
  <br>
  Valid characters are any letter (either case), number, or spaces.
  <br>
  However you can't start with a space.
</p>

<form action="/books" method="post">
  <fieldset>
    <legend> New Book: </legend>

    <% if flash.has?(:message) %>
      <div id="new book error">
        <h2> <%= flash[:message] %> </h2>
      </div>
    <% end %>

    <br>
    <label for="title"> Books Title: </label>
    <br>
    <input type="text" name="title" id="title" maxlength="64" pattern="\A[a-zA-Z0-9][a-zA-Z0-9 ]{4,63}\Z" required>
    <br>

    <br>
    <br>
    <input type="submit" value="Create Book">
  </fieldset>
</form>

<br>
<a href="/users/<%= @user.slug %>/books"> Your Books </a>
<br>
<br>
<a href="/books"> All Books </a>
<br>
<br>
<a href="/logout"> Logout </a>
