
<h1> Chapter '<%= @chapter.ordinal %>:  <%= @chapter.name %>' Has Been Deleted </h1>

<% if @chapter.content %>
  <h3> With Contents: </h2>

  <p> <%= @chapter.content %> </p>
<% else %>
  <p> It Had No Content </p>
<% end %>
