
<h1> <%= @book.title %> </h1>

<h2> <%= @chapter.ordinal %>.  <%= @chapter.name %> </h2>

<h3> Existing Content: </h3>
<% if @chapter.content %>
  <p> <%= @chapter.content %> </p>
<% else %>
  <p> No Content Found </p>
<% end %>

<!-- add links -->
