
<h1> Book: <%= @book.title %> </h1>

<h2> Chapter <%= @chapter.ordinal %>:  <%= @chapter.name %> </h2>

<% if @chapter.content %>
  <p> <%= @chapter.content %> </p>
<% else %>
  <p> No Content Found </p>
<% end %>

<!-- add links -->
