
<h1> Login To Book Writer </h1>

<form action="" method="POST">
  <label for="username"> Username: </label>
	<input type="text" name="username" id="username" maxlength="32" required>

  <label for="password"> Password: </label>
	<input type="password" name="password" id="password" maxlength="64" required>

	<input type="submit" value="Log In" formenctype="multipart/form-data">
</form>

<!-- link to signup -->
<!-- link to all books -->
