
<h1> Welcome to Book Writer </h1>

<form action="/login" method="POST">
  <fieldset>
    <legend> Sign In: </legend>

    <% if flash.has?(:message) %>
      <div id="login error">
        <h2> <%= flash[:message] %> </h2>
      </div>
    <% end %>

    <br>
    <label for="username"> Username: </label>
    <br>
    <input type="text" name="username" id="username" maxlength="32" required>
    <br>

    <br>
    <label for="password"> Password: </label>
    <br>
    <input type="password" name="password" id="password" maxlength="64" required>
    <br>

    <br>
    <input type="submit" value="Log In">
    <br>
  </fieldset>
</form>
